<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/img/logo.png" title="Portfolio">

    <title>Galeria</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/css/galeria.css">
</head>

<body>
    
    <div class="flec">
        <img class="arrow" src="../../assets/img/arrow.png" alt="">
        <a href="../../index.html" class="redireccion">Flecha
        </a>
        <p class="text">Volver</p>
    </div>
    <div>
        <center><h1>Selector de imagenes</h1></center>
    </div>
    <div class="container">
        <div class="thumbnail_container">
            <img class="thumbnail" src="../../assets/img/img4.jpg" alt="">
            <img class="thumbnail" src="../../assets/img/img5.jpg" alt="">
            <img class="thumbnail" src="../../assets/img/img6.jpg" alt="">

        </div>
        <div class="img_container">
            <img src="../../assets/img/img1.png" class="main_img" alt="">
        </div>
        <div class="thumbnail_container">
            <img class="thumbnail active" src="../../assets/img/img1.png" alt="">
            <img class="thumbnail" src="../../assets/img/img2.png" alt="">
            <img class="thumbnail" src="../../assets/img/img3.jpg" alt="">

        </div>
    </div>


        <center><h1>Click en las imagenes</h1></center>
    <div class="wrapper">
        <div class="images">
            <img src="../../assets/img/test6.jpg" alt="">
            <img src="../../assets/img/test5.jpg" alt="">
            <img src="../../assets/img/paisssaje.jpg" alt="">
            <img src="../../assets/img/test3.jpg" alt="">
            <img src="../../assets/img/test2.jpg" alt="">
            <img src="../../assets/img/test.jpg" alt="">
            <img src="../../assets/img/lunar.jpg" alt="">
            <img src="../../assets/img/test8.jpg" alt="">
            <img src="../../assets/img/paisajjee.jpg" alt="">
            <img src="../../assets/img/gal1.jpg" alt="">
            <img src="../../assets/img/gal2.jpg" alt="">
            <img src="../../assets/img/gal3.jpg" alt="">

        </div>
    </div>
    <div class="wrapper2">
        <div class="images">
            <img src="../../assets/img/test6.jpg" alt="">
            <img src="../../assets/img/test5.jpg" alt="">
            <img src="../../assets/img/paisssaje.jpg" alt="">
            <img src="../../assets/img/test3.jpg" alt="">
            <img src="../../assets/img/test2.jpg" alt="">
            <img src="../../assets/img/test.jpg" alt="">
            <img src="../../assets/img/lunar.jpg" alt="">
            <img src="../../assets/img/test8.jpg" alt="">
            <img src="../../assets/img/paisajjee.jpg" alt="">
            <img src="../../assets/img/gal1.jpg" alt="">
            <img src="../../assets/img/gal2.jpg" alt="">
            <img src="../../assets/img/gal3.jpg" alt="">
        </div>
    </div>

    <h1>ROTACIÓN</h1>
    <div class="contgalery">
        <div>
        <div class="box">
            <H3>EDUARDO SAUCEDO</H3>
            <span style="--i:1"><img class="imagen" src="../../assets/img/rugrats.png" alt=""></span>
            <span style="--i:2"><img class="imagen" src="../../assets/img/castor.png" alt=""></span>
            <span style="--i:3"><img class="imagen" src="../../assets/img/zim2.png" alt=""></span>
            <span style="--i:4"><img class="imagen" src="../../assets/img/monster.png" alt=""></span>
            <span style="--i:5"><img class="imagen" src="../../assets/img/catdog.png" alt=""></span>
            <span style="--i:6"><img class="imagen" src="../../assets/img/carlitos.png" alt=""></span>
            <span style="--i:7"><img class="imagen" src="../../assets/img/bob.png" alt=""></span>
            <span style="--i:8"><img class="imagen" src="../../assets/img/zim.png" alt=""></span>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../../assets/js/main.js"></script>
    <img class="button" src="../../assets/img/btn.png">

</body>

</html>