<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/img/logo.png" title="Portfolio">

    <title>App Clima BIS</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/temp2.css">
    <script src="../../assets/js/temp2.js" defer></script>
</head>

<body>

    <div class="flec">
        <img class="arrow" src="../../assets/img/arrow.png" alt="">
        <a href="../../index.html" class="redireccion">Flecha
        </a>
        <p class="text">Volver</p>
    </div>

    <div class="search-form">
        <main>
            <form id="search-form">
                
                <div class="searchbox">
                    <input type="text" autocomplete="off" placeholder="Buscar por ciudad..." class="search" name=""
                        id="searchbox">
                </div>
            </form>
        </main>
    </div>

    <div class="conteiner-card">
        <div class="weather-card" id="card">
            <div class="city" id="city">Resistencia, AR</div>
            <div class="date" id="date">29/12/2022</div>
            <div class="temperature">
                <img src="../../assets/img/temp1.png" class="imgT" id="imgT">
                <div class="temp" id="temp">30c</div>
            </div>
            <div class="weather" id="weather">Sol</div>
            <div class="range" id="range">20c / 35c</div>
            <div class="humidity" id="humidity">Humedad</div>
            <div class="wind" id="wind">Viento</div>
        </div>
    </div>
    <footer>

    </footer>


</body>

</html>